<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-space">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">ｘ</span>
        </button>
      </div>
      <div class="modal-body">
      <% @unapprovals.each do | key, unapproval | %>
      <%= form_with(model: @apply, url: update_one_month_approval_user_path, local: true, method: :patch) do |f| %>
        <h1 class="modal-title"><%= key %>からの1ヶ月分の勤怠申請</h1>
        <table class="table table-bordered center">
          <tr>
            <th class="center"><%= @today.month %>月</th>
            <th class="center">指示者確認㊞</th>
            <th class="center"><label class="form-check-label" for="check">変更</label></th>
            <th class="center">勤怠を確認する</th>
          </tr>
          <% unapproval.each do | detail | %>
          <%= f.fields_for "unapprovals[]", detail do |df| %>
          <tr>
            <td class="center middle"><%= detail.month %>月</td>
            <td class="center middle">
              <%= df.select :mark, {'なし': 0, '申請中': 1, '承認': 2, '否認': 3}, { include_blank: '選択してください'}, { class: 'form-select' , required: true } %>
            </td>
            <td class="center middle">
              <%= df.check_box :check_box, { class: 'form-check-input', id: 'check' }, detail.check_box %>
              <%= df.hidden_field :user_name, value: detail.user_name %>
              <%= df.hidden_field :month, value: detail.month %>
            </td>
            </td>
            <td class="center middle">
              <%= link_to "確認", user_path( detail.user_id, value: "hide" ), class: "btn btn-primary" %>
            </td>
          </tr>
          <% end %>
          <% end %>
        </table>
        <div class-"center">
          <%= f.submit "変更を送信する", class: "btn btn-primary btn-edit", id: "submit" %>
        </div>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>