<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<div class="user-import">
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "CSVをインポート", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="table-hover table-width" id="table-users">
    <% @users.each do |user| %>
    <div class="table-frame table-margin table-block">
      <p>
        <%= user.name %>
      </p>
      <p>
      <% if current_user.admin? && !current_user?(user) %>
        <p>
          | <%= link_to "削除", user, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
        </p>
      <% end %>
      <div>
        <% if current_user.admin? && !current_user?(user) %>
            <div class="table-edit-frame">
              <button type="button" class="btn btn-primary acdn-btn" data-target="#collapse<%= user.id %>" >編集</button>
              <div class="open hide">
                <%= form_with(model: user, local: true) do |f| %>

                  <%= f.label :name, class: "label-edit label-edit-space" %>
                  <%= f.text_field :name, class: "form-control" %>

                  <%= f.label :email, class: "label-edit label-edit-space" %>
                  <%= f.email_field :email, class: "form-control" %>

                  <%= f.label :affiliation, class: "label-edit label-edit-space" %>
                  <%= f.text_field :affiliation, class: "form-control" %>
                  
                  <%= f.label :id, class: "label-edit label-edit-space" %>
                  <%= f.number_field :id, class: "form-control" %>
                  
                  <%= f.label :uid, class: "label-edit label-edit-space" %>
                  <%= f.text_field :uid, class: "form-control" %>

                  <%= f.label :password, class: "label-edit label-edit-space" %>
                  <%= f.password_field :password, class: "form-control" %>

                  <%= f.label :password_confirmation, class: "label-edit label-edit-space" %>
                  <%= f.password_field :password_confirmation, class: "form-control" %>

                  <%= f.label :basic_time, class: "label-edit label-edit-space" %>
                  <%= f.time_field :basic_time, class: "form-control" %>

                  <%= f.label :designated_work_start_time, class: "label-edit label-edit-space" %>
                  <%= f.time_field :designated_work_start_time, class: "form-control" %>
                  
                  <%= f.label :designated_work_end_time, class: "label-edit label-edit-space" %>
                  <%= f.time_field :designated_work_end_time, class: "form-control" %>

                  <%= f.submit "保存", class: "btn btn-primary btn-block btn-edit label-edit-space" %>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <%= will_paginate %>
</div>